.beerDetails {
    margin: 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .beerDetails {
        margin: 20px;
        flex-direction: column;
    }
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    display: block;
    max-height: 500px;
    height: 100%;
}

.info {
    padding: 20px;
    font-size: 20px;
    flex: 300px;
}

.descriptionWrapper {
    margin: 20px 50px;
}

@media (max-width: 576px) {
    .descriptionWrapper {
        margin: 20px 0;
    }
}

.descrTitle {
    font-weight: 500;
}

.description {
    margin: 10px 0;
}

.right {
}

.left {
    margin: 0 50px;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name {
    font-weight: 500;
    padding: 20px 0;
    font-size: 32px;
}

.tagline {
    padding: 0 0 10px 0;
}

.firstBrewed {
    padding: 0 0 10px 0;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 490px;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
}

@media (max-width: 576px) {
    .properties {
        flex-direction: column;
        width: auto;
        gap: 20px;
    }
}

.contributedWrapper {
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media (max-width: 576px) {
    .contributedWrapper {
        flex-direction: column;
    }
}

.contributedTitle {
    margin: 0 4px 0 0;
}

.contributed {
    font-weight: 500;
}

.foodPairingWrapper {
    margin: 20px auto;
}

.foodPairingTitle {
    margin: 10px 0;
}
