.beerDetails {
    margin: 50px 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media (max-width: 576px) {
    .beerDetails {
        margin: 20px;
        flex-direction: column;
    }
}

.image {
    display: flex;
    justify-content: center;
}

.image img {
    display: block;
    max-height: 500px;
    height: 100%;
}

.info {
    padding: 20px;
    font-size: 20px;
    flex: 300px;
}

.descriptionWrapper {
    margin: 20px 50px;
}

@media (max-width: 576px) {
    .descriptionWrapper {
        margin: 20px 0;
    }
}

.right {
}

.left {
    margin: 0 50px;
}

.properties {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 490px;
    gap: 20px;
    justify-content: center;
    margin: 20px auto;
}

@media (max-width: 576px) {
    .properties {
        flex-direction: column;
        width: auto;
        gap: 20px;
    }
}

.foodPairingWrapper {
    margin: 20px auto;
}

