.beerTitle {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name {
    font-weight: 500;
    padding: 20px 0;
    font-size: 32px;
}

.tagline {
    padding: 0 0 10px 0;
}

.firstBrewed {
    padding: 0 0 10px 0;
}

