.header {
    font-family: 'Galada', cursive;
    text-align: center;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.list {
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.listItem {
    margin: 0 20px 0 0;
}

.listItem:last-child {
    margin: 0;
}
