.header {
    font-family: 'Galada', cursive;
}

.mainHeader {
    text-align: center;
    background-color: #282c34;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 32px;
}

.link {
    color: white;
    text-decoration: none;
}

.favoritesLink {
    color: crimson;
    text-decoration: underline;
    font-size: 28px;
    margin: 100px;
}

@media (hover: hover) {
    .favoritesLink:hover {
        filter: brightness(80%);
    }
}
